body {
    background:lightgray;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    widows:22p%;
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:crimson;
    border-radius: 10px;
    box-shadow: 5px 8px #888888;
}

.assignment img {
    width: 200px;
    border: 2px maroon;
    margin-right: 20px;
    border-radius: 10px;
    display:block;
    margin:auto;
}

h1 {
    color:maroon;
    text-align:center;
}

a {
    text-decoration:none;
    color:firebrick;
}

.assignment a:hover {
    color: purple;
}